body{
	background-color: grey;
	background: -webkit-linear-gradient(black, magenta 50%); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(white, grey); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(white, grey); /* For Firefox 3.6 to 15 */
	background: linear-gradient(black, magenta 50%); /* Standard syntax */
	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

h1{
	color: #ff40ff;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
}

#start{
	color: black;
	font-size: 20px;
	font-weight: bold;
}

#lineup{
	color: black;
	font-size: 20px;
	font-weight: bold;
}

mark{
	color: #ff40ff;
	background-color: transparent;
}

#main{
	margin: auto;
	width: 50%;
	height: 350px;
	border: 2px solid black;
	border-radius: 25px;
	background-image: url('LULoffice.png');
	background-size:100%;
}

#info{
	border: 2px solid black;
	text-align: center;
	margin: auto;
	width: 50%;
	height: 100px;
	background-color: darkgrey;
	border-radius: 25px;
	display: table;
}

.footer {
    /*background: grey;*/
    padding: 10px 0;
}

.footer a {
    color: black;
    font-size: 20px;
    padding: 10px;
    
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

.footer a:hover {
    color: white;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}